@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500");

@media only screen and (max-width: 320px) {
  body {
    font-size: 2em;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

.main-bg {
  /* position: relative; */
  background-color: #1d2d50;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100%;
  position: absolute;
}

.text-white {
  color: #ffffff;
}
