@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

.main-bg {
  background-color: #1d2d50;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.text-white {
  color: #ffffff;
}
